[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-sqlalchemy = "*"
sqlalchemy-utils = "*"
passlib = "*"
flask-restful = "*"
flask-script = "*"
flask-debugtoolbar = "*"
celery = "*"
"psycopg2-binary" = "*"
brainzutils = {git = "https://github.com/metabrainz/brainzutils-python.git", editable = true}


[dev-packages]

flask-testing = "*"
pytest = "*"


[requires]

python_version = "3.6"
