[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy-utils = "*"
passlib = "*"
flask-restful = "*"
flask-script = "*"
flask-redis = "*"
flask-debugtoolbar = "*"

[dev-packages]

[requires]
python_version = "3.6"
